@model AcunMedyaPortfolioProject.Models.Project
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Ekleme Sayfası</h2>

<div class="container">
    <form method="post">
        <label>Proje Adı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryId, (SelectList)ViewBag.Categories, "Kategori seçin", new { @class = "form-control" })
        <br />
        <label> Kapak Resmi Urls</label>
        @Html.TextBoxFor(x => x.CoverImageUrl, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <label>Proje linki</label>
        @Html.TextBoxFor(x => x.ProjectLink, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Projeyi Kaydet</button>
    </form>
</div>